*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.car-content{
    width: 1200px;
    margin: 0 auto;
}
.car-content-top{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.car-content-top img{
    height: 68px;
}
.car-content-topright li{
    float: left;

}
.car-content-topright li{
    width: 160px;
    height: 70px;
    text-align: center;
}
.car-content-topright li span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/nc_cart_pic.png");
    background-position: 0 0;
}
.car-content-topright li .dwgdiff2{
    background-position: -30px 0;
}
.car-content-topright li .dwgdiff3{
    background-position: -60px 0;
}
.car-content-topright li .dwgdiff4{
    background-position: -90px 0;
}
.car-content-topright li div{
    position: relative;
    border-top: 1px solid #000000;
    height: 30px;line-height: 30px;
}
.car-content-topright li div span{
    position: absolute;
    display: inline-block;
    width: 6px;height: 6px;  
    border-radius: 50%;
    border: 1px solid #cccccc;
    background: #ffffff; 
top: 0;
left: 50%;
transform: translate(-50%,-50%);
}

.car-content-topright li div .car-span-cative{
    background: #000000;
    border: 1px solid  #000000;
    box-shadow: 0 0 3px #000;
 
}
/* 没有商品 */

.car-noshop{
    width: 480px;
    height: 340px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.car-noshop>div:nth-child(1){
    width: 128px;
    height: 128px;
    background: url("../images/cart_bg.png");
    background-position: -100px -50px;
}
.car-noshop>div:nth-child(2){
    flex: 1;
    padding-left: 50px;
}
.car-noshop div p{
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: #777777;
    margin-bottom: 30px;
}
.car-tobuy{
    display: flex;
}
.car-tobuy a{
  display: inline-block;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
}
.car-tobuy a:nth-child(1){
   background: #00acac;
   margin-right: 10px;
}
.car-tobuy a:nth-child(2){
    background: #b6c2c9;
 }
/*  */
/* 有商品 */
.mycar>h4{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    color: #616161;
}
.mycar-status{
    float: right;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    color: #616161;
}
.mycar-p1{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #bfbfbf;
    margin-bottom: 15px;
}
/*  */
.car-listhead {
    border: solid 1px #E9E9E9;
    background-color: #F3F3F3;
    padding:4px 0;
    height: 30px;
}
.car-listhead li{
    float: left;
    line-height: 30px;
    font-size: 12px;
}
.car-listhead li:nth-child(1){
width: 90px;
padding-left: 18px;
}
.car-listhead li:nth-child(2){
    width: 480px;
}
.car-listhead li:nth-child(3){
    width: 166px;
    text-align: center;
}
.car-listhead li:nth-child(4){
    width: 175px;
    padding-right: 15px;
    text-align: right;
}
.car-listhead li:nth-child(5){
    width: 78px;
    text-align: center;
}
.car-listhead li:nth-child(6){
    width: 150px;
    text-align: right;
}
.car-list input[type="checkbox"]{
    margin-right: 6px;
    vertical-align: middle;
}
.car-listul>li{
    margin-bottom: 20px;
}

.car-list-merchant{
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
    border-bottom: 2px solid #333333;
}
.shops{
    position: relative;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 137px;
    padding: 20px 19px 25px 20px;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
}
.shop-con{
    display: flex;
  
}
.shop-con img{
width: 80px;
height: 80px;
border: 1px solid #cccccc;
margin-right: 15px;
}
.shop-con p{
    width: 480px;
}

.shop-number{
    width: 166px;
    font-size: 0;
    padding-top: 45px;
}
.shop-number span{
    height: 26px;
    border: 1px solid #cccccc;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
}
.shop-number .removenumber{
    width: 24px;
}
.numbers{
    width: 50px;
    margin-left: -1px;

}
.shop-number .addnumber{
    width: 24px;
    margin-left: -1px;
}



.shop-price{
    width: 175px;
    padding-right: 15px;
    text-align: right;
    color: #616161;
    padding-top: 45px;
}
.shop-discounts{
    width: 78px;
    text-align: center;
    padding-top: 45px;
}
.shop-discounts span{
    display: inline-block;
    padding: 1px 4px;
    border-radius: 2px;
    background-color: #E4393C;
    font-size: 11px;
    line-height: 16px;
    color: #FFF;

}
.shop-havemoney{
    width: 150px;
    text-align: right;
    padding-top: 45px;
}
.shop-havemoney p:nth-child(1){
    line-height: 26px;
    color: #E4393C;
    font-size: 14px;

}
.shop-havemoney p:nth-child(2){
    color: #3f9338;
    margin-top: -4px;
}
.clearshop{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 72px;
    height: 18px;
    padding: 4px 0px 2px 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around
}
.clearshop a{
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
.clearshop a:hover{
    color: red;
}

.shop-footer{
    background-color: #EEE;
    height: 56px;
    border-bottom: solid 1px #E1E1E1;
    line-height: 56px;
    display: flex;
    font-size: 12px;
}
.shop-footer>div:nth-child(1){
    width: 190px;
    margin-left: 20px;
}
.shop-footer>div:nth-child(2){
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.shop-footer label{
    display: inline-block;
    width: 70px;
}
.shop-footer input{
    margin-right: 5px;
    vertical-align: middle;
}
.allshop-list>div{
    margin-right: 30px;
    color: #666666;
}
.allshop-list>div span{
    font-size: 16px;
    margin-right: 5px;
    color: #000;
}
.allshop-list .allshop-price{
    font-size: 20px;
    color: #E4393C;
    font-weight: bold;
}
.shop-footer>button{
    width:150px;
    background-color: #E4393C;
    color: #FFF;
    border: none
}