/* *{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    color: #000000;
}
.yg-content{
    width: 1210px;
    margin: 0 auto;
    height: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
} */
/*  */
.shopping-guide{
    height: 51px;
    padding: 10px 0;
    box-sizing: border-box;
}
.shopping-guide li{
   
    font-size: 12px;
    color: #555555;
}
.shopping-guide li a{
    color: #555555;
}
.shopping-guide-item{
width: 88px;
height: 26px;
border: 1px solid #cccccc;


position: relative;
}
.shopping-guide-tit{
    padding: 0 7px;
    display: block;
    width: 88px;height: 26px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    z-index:99;
    
box-sizing:border-box;
}
.shopping-guide-titicon{
    width: 20px;
    position: absolute;
    top: 0;
    left: 55px;
   
}

.icon-down2{
    font-size: 12px;
    line-height: 26px;
}
.icon-up2{
    color: red;
}
.shopping-guide-list{
    display: none;
    position: absolute;
    left: -1px;
    top: 25px;
    padding: 5px;
    background: #ffffff;
    width: 348px;
    border: 1px solid red;
}
.shopping-guide-list li{
    width: 80px;
    height: 26px;
    padding: 0 1%;
    font-size: 12px;
    float: left;

}

/*   */
.shopping-guidecon{
    margin-bottom: 10px;
}
.shopping-sifting{
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    padding: 0 10px;
    border:1px solid #DDD;
    box-sizing: border-box;
    background-color: #F2F2F2
}
.shopping-guide-title{
    color: #FF5B57;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight:bold;
}
.shopping-sifting-orders{
    /* 相同部分 */

    border:1px solid #DDD;
    background-color: #ffffff;
    overflow: hidden;
    font-size: 12px;
    /*  */
    height: 34px;;

}
.shopping-sifting-orders dt{
    color: #777;
    background-color: #FAFAFA;
    width: 81px;
    border-right: 1px solid #DDD;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    box-sizing: border-box;
}
.shopping-sifting-orders dd{
    padding: 0 10px;
    font-size: 12px;
 
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
}
.shopping-sifting-orders dd a{
    color: #555555;
}
.shopping-sifting-orders dd:hover a{
    color: red;
}
/*  */
.shopping-sort{
    height: 38px;
    padding: 0px 8px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #E7E3E7;
    border-top: 1px solid #E7E3E7;
    display: flex;
    box-sizing: border-box;
    font-size: 12px;
    
}
.price-ranking{
    padding: 6px 0px;
    margin-right: 13px;
}

.price-ranking li{
    height: 23px;
    line-height: 23px;
    border: 1px solid #cccccc;
    padding: 0 10px;
    margin-left: -1px;
    background: #ffffff;
}
.price-competition{
    margin-right: 14px;
    padding: 6px 14px;
    height: 25px;
  display: flex;
}
.price-competition>input{
    height: 23px;   
     line-height: 23px;
     padding: 0 2px;
     text-align: left;
     border: solid 1px #CCC;
    width: 59px;
    outline-style: none;
}
.shopping-sort button{
    background: #ffffff;
    color: red;
    height: 26px;   
    line-height: 26px;
    border:1px solid red;
    margin-left: 10px;
    padding: 0 8px;
display: none;
    
}
.shopping-sort button:hover{
    background: red;
    color: #ffffff;
}
.price-ranking .price-ranking-active{
    background: red;
    color: #ffffff;
    border: 1px solid red;
}
.shopping-volume{
    color: #888888;
    padding: 6px 14px;
    display: flex;
    line-height: 25px;
}
.shopping-volume input{
    height: 23px;   
    line-height: 23px;
    padding: 0 2px;
    text-align: left;
    border: solid 1px #CCC;
      width: 46px;
    outline-style: none;
    margin: 0 3px;
}

.shopping-huodong{

}
.shopping-huodong>ul>li>p{
    padding: 0 14px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 6px;
   
    border-right: 1px solid #cccccc;
   
}
.shopping-huodong>ul>li:nth-child(1)>p{
    border-left: 1px solid #cccccc;

}
.shopping-huodong-ul2{
    display: none;
    z-index:44;
}
.shopping-huodong-ul2 li{
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
}
.shopping-huodong>ul>li:hover{
    background: #ffffff;
    box-shadow:0px 0px 2px #cccccc;

}
.shopping-huodong>ul>li:hover p{
    border-color:#ffffff ;
}
.shopping-huodong>ul>li:hover .shopping-huodong-ul2{
    display: block;
}
.shopping-huodong-ul2 li:hover{
    background: #f1f1f1;
    color: red;

}
.shopping-huodong .icon-down2{
    display: inline-block;
    margin-left: 10px;
}
.shopping-huodong>ul>li:hover .icon-down2:before{
   transform: rotate(180deg);
   display: inline-block;
   transition:transform .5s;
}

/*  */
.shopping-baoyu{
    display: flex;
    padding: 6px 0;
    justify-content: center;    
    color: #888;
line-height: 25px;
}
.shopping-baoyu-span{
display: inline-block;
vertical-align: middle;
width: 12px;
height: 12px;
background: #ffffff;
border: 1px solid #cccccc;

margin-right: 5px;
}
.shopping-baoyu>div{
    padding: 0 14px;
}
/*  */
.detail-item{
    min-height: 540px;
    margin-bottom: 15px;
    border: 1px solid red;
}
.detail-item li{
    float: left;
    width: 240px;
    height: 475px;
    padding: 38px 9px 10px 9px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 12px;
}
.detail-item li:hover{
    box-shadow:0px 0px 2px #cccccc;
}
.detail-item-con{
    display: flex;
    flex-direction: column;
}
.detail-item-con img{
    width: 220px;
    height: 220px;
}
.detail-item-price{
    height: 22px;
    padding: 15px 0 8px 0;
    color: #E4393C;
    font-size: 20px;
}
.detail-item-icon{
    padding: 0px 2px;
    margin-top: 4px;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #f30213;
    font-size: 11px;
    color: #FFF;
    line-height: 14px;
}

.detail-item-title{
    width: 220px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 8px;
    line-height: 20px;
    /* position: relative; */
}
.detail-item-title span:nth-child(2){
    color: #ffaa71;
}

.detail-item-estimate{
    height: 18px;
    margin-bottom: 9px;
    color: #999999;
}
.detail-item-estimate>span:nth-child(1){
    margin-right: 20px;
}
.item-estimate-volume{
    color: #646fb0;
    font-weight: 700;
    margin-right: 5px;
}
.item-estimate-Comments{
    font-weight: 700;
    margin-right: 5px;
}


.detail-item-shop{
    height: 18px;
    margin-bottom: 9px;

}
.detail-item-shop a{
    color: #999999;
}
.detail-item-autotrophy{
    height: 16px;
    margin-bottom: 12px;
}
.detail-item-autotrophy span{
    display: inline-block;
    height: 16px;
    text-align: center;
    padding: 0 3px;
    margin-right: 3px;
    border-radius: 2px;
    background: #F30213;
    font-size: 12px;
    line-height: 16px;
    color: #FFF; 
}
/*  */
.detail-item-car{
    height: 27px;
    display: flex;
    

}
.detail-item-car>div{
    line-height: 27px;
    padding: 0 5px;
    border: 1px solid #cccccc;
}
.detail-item-car>div:hover{
    border-color: red;
    z-index: 1;
    color: red;
}
.item-toCollection{
    color: #999999;
    overflow: hidden;
    display: flex;
    position: relative;
}
.icon-span1{
    display: inline-block;
    width: 18px;
    height: 50px;
    color: #cccccc;
     position: absolute;

}
.icon-xin1{
    color: red;
}
.item-toCollection>span{
    margin-left: 23px;
}
.item-tocar{
   
margin-left: -1px;
    color: #F30213;
}
.icon-jiarugouwuche{
    margin-right: 10px;
    font-size: 18px;
}