*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;


}
html,body{
    width: 100%;
    height: 100%;
}

.yg-content{
    width: 1210px;
    margin: 0 auto;
    height: 100%;
}
/*  */

header .yg-content{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .yg-content img{
    height: 68px;
}
header .yg-content p{
 margin-top: 50px;
 font-size: 14px;
 color: #AAA;
}
header .yg-content p a{
    margin-left: 3px;
    font-weight: 500;
    color: blue;
}
main{
    height: 680px;
    overflow: hidden;
  
    background: url("../images/register_bg.png")
}
.reg-content{
    width: 820px;
    height: 520px;
    padding: 19px;
    border: 10px solid #666;
    margin:0 auto;
    margin-top: 60px;
    background: #ffffff;
    display: flex;
    
  

}
.reg-content-left{
    width: 580px;
}
.reg-title{
    padding-left: 100px;
    line-height: 39px;
    height: 39px;
    border-bottom: 1px solid #cccccc;
    color: #666666;
font-size: 18px;
}
.reg-title:hover{
    color: #000000;
}
.reg-usercontent{

    padding:50px 80px 0 100px;
}
.user-phone{
    border:1px solid #cccccc;
    height: 52px;
    display:flex;
    justify-content: space-between;
    line-height: 52px;
    font-size: 16px;
    color: #666666;
    position: relative;
}
.user-phone p{
    width:108px;
    text-align: center;

}
.phone-err{
    position: absolute;
    color: #000;
    line-height: 24px;
    background: #FFF5D9 no-repeat 0 0;
    text-align: left;
    white-space: nowrap;
    height: 24px;
    padding: 8px 12px 8px 24px;
    font-size: 14px;
    z-index: 2;
    top: 5px;
    left: 300px;
    display: none;
}
#userphone{
    width: 290px;
    outline-style: none;
    border: none;
}
.userphone-yzm{
    margin: 20px 46px 20px 46px;
    width: 308px;
    height: 42px;
    border: 1px solid rgba(22,189,83,1);
    border-radius: 20px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
 
}
.userphone-yzm span{
    /* margin-top: 8px; */
    display: inline-block;
    width: 12px;
    height: 12px;
    background:  rgba(22,189,83,1);
    border-radius: 50%;
    border:5px solid rgb(50, 245, 121);
    margin-left: 25px;
    margin-right: 50px;
    vertical-align: middle;

}
.user-tyxieyi {
    font-size: 14px;
    position: relative;
}
.user-tyxieyi input{

    margin-right: 8px;
    vertical-align: middle;
}
.reg-content-right{
    padding: 20px 0 0 19px;
    border-left: solid 1px #E6E6E6;
} 
.reg-content-right dt{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 20px;
    color: #333;

}
.reg-content-right dd{
    padding-left: 12px;
    color: #999;
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 12px;
}

.reg-content-right dd span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background:url("../images/login_pic.png");
    vertical-align: middle;

}
.reg-content-right .reg-span0{
    background-position: 0 -77px;
}
.reg-content-right .reg-span1{
    background-position: -30px -77px;
}
.reg-content-right .reg-span2{
    background-position: -60px -77px;
}
.reg-content-right .reg-span3{
    background-position: -90px -77px;
}
.reg-content-right .reg-span4{
    background-position: -122px -77px;
}