*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;

}
html,body{
    width: 100%;
    height: 100%;
}

.yg-content{
    width: 1210px;
    margin: 0 auto;
    height: 100%;
}
/*  */

header .yg-content{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .yg-content img{
    height: 68px;
}
header .yg-content p{
 margin-top: 50px;
 font-size: 14px;
 color: #AAA;
}
header .yg-content p a{
    margin-left: 3px;
    font-weight: 500;
    color: blue;
}
main{
    height: 680px;
    overflow: hidden;
  
    background: url("../images/register_bg.png")
}
.reg-content{
    width: 820px;
    height: 520px;
    padding: 19px;
    border: 10px solid #666;
    margin:0 auto;
    margin-top: 60px;
    background: #ffffff;
    display: flex;
    
  

}
.reg-content-left{
    width: 580px;
}
.reg-title{
    padding-left: 100px;
    line-height: 39px;
    height: 39px;
    border-bottom: 1px solid #cccccc;
    color: #666666;
font-size: 18px;
}
.reg-title:hover{
    color: #000000;
}
.reg-usercontent{

    padding:50px 80px 0 100px;
}
.user-phone{
    border:1px solid #cccccc;
    height: 52px;
    display:flex;
    justify-content: space-between;
    line-height: 52px;
    font-size: 16px;
    color: #666666;
    position: relative;
}
.user-phone p{
    width:108px;
    text-align: center;

}
.phone-err{
    position: absolute;
    color: #000;
    line-height: 24px;
    background: #FFF5D9 no-repeat 0 0;
    text-align: left;
    white-space: nowrap;
    height: 24px;
    padding: 8px 12px 8px 24px;
    font-size: 14px;
    z-index: 2;
    top: 5px;
    left: 300px;
    display: none;
}
#userphone{
    width: 290px;
    outline-style: none;
    border: none;
}
.userphone-yzm{
    margin: 20px 46px 20px 46px;
    width: 308px;
    height: 42px;
    border: 1px solid rgba(22,189,83,1);
    border-radius: 20px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
 
}
.userphone-yzm span{
    /* margin-top: 8px; */
    display: inline-block;
    width: 12px;
    height: 12px;
    background:  rgba(22,189,83,1);
    border-radius: 50%;
    border:5px solid rgb(50, 245, 121);
    margin-left: 25px;
    margin-right: 50px;
    vertical-align: middle;

}
.user-tyxieyi {
    font-size: 14px;
    position: relative;
}
.user-tyxieyi input{

    margin-right: 8px;
    vertical-align: middle;
}

/*  */
.reg-content-left .reg-userreg{
    
    display: none;

}
.reg-content-left .reg-userreg .reg-userregbox{
    margin-left: 80px;
    width: 400px;
    margin-top:54px;
    color: #757575;

}
.reg-userregbox>div{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}
.reg-yzmtime{
    color: #999999;
}
.reg-yzmtime span{
    color: red;
    font-weight: bold;
}
.reg-userregbox .reg-inputbox{
    display: flex;
    border: 1px solid #cccccc;
    position: relative;

}
.reg-inputbox>div{
    position: absolute;
    color: #000;
    line-height: 24px;
    background: #FFF5D9 no-repeat 0 0;
    text-align: left;
    white-space: nowrap;
    height: 24px;
    padding: 8px 12px 8px 24px;

    z-index: 2;
    top: 5px;
    left: 300px;
    display: none;
}
.reg-userregbox .reg-inputboxlast{
    border-top: none;
    margin-bottom: 15px;
}

.reg-userregbox .reg-inputbox label{
    width: 100px;
    padding-left: 20px;
    box-sizing: border-box;

}
.reg-userregbox .reg-inputbox input{
    width: 100px;
    flex: 1;
    outline: none;
    border: none;
}
.reg-ok{
height: 42px;
background:#ff500b;
color: #ffffff;
font-size: 16px;
text-align: center;
line-height: 42px;

}
/*  */

.reg-content-right{
    padding: 20px 0 0 19px;
    border-left: solid 1px #E6E6E6;
} 
.reg-content-right dt{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 20px;
    color: #333;

}
.reg-content-right dd{
    padding-left: 12px;
    color: #999;
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 12px;
}

.reg-content-right dd span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background:url("../images/login_pic.png");
    vertical-align: middle;

}
.reg-content-right .reg-span0{
    background-position: 0 -77px;
}
.reg-content-right .reg-span1{
    background-position: -30px -77px;
}
.reg-content-right .reg-span2{
    background-position: -60px -77px;
}
.reg-content-right .reg-span3{
    background-position: -90px -77px;
}
.reg-content-right .reg-span4{
    background-position: -122px -77px;
}

.yzmcw{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 19891015;
    background-color: #000;
    opacity: 0.3;
   
}
.fr{
    float: right;;
}
.yzmcw1{
    display: none;
}
.yzmcw1>div:nth-child(2){
    position: absolute;
    z-index: 19891017;
    top: 161.5px;
    left: 578.5px;
    width: 266px;
    background: #ffffff;
    box-shadow: 0 0 3px #666666;
    font-size: 12px;
}
.yzmcw1>div p{
  
    padding: 10px;
    line-height: 22px;
    border-bottom: 1px solid #cccccc;

}
.yzmcw-div1{
    padding: 10px;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
}
.yzmcw-div2 button{
    width: 60px;
    height: 40px;
    background: blue;
    color: #ffffff;
    border-color: blue;
    opacity: 1
}
.timrspan{
    background: green;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    
}